<div class="container padding-large mt-5 mb-xxl-5" id="about">
    <h1 class=" mb-xxl-3 border-bottom border-5 border-dark py-lg-3 franklin title modal-header d-block w-100 work-sans-700">About</h1>
    <p class="h3 work-sans-200">Welcome to the Mathematical Society! The goal of our organization is to make progress in spreading
    mathematics education through the community through social events, tutoring, and fostering undergraduate research.
    We believe in fostering a environmentally-friendly and colloborative system that will address the needs of the Rio
    Grande Community and the students / faculty of UTRGV.
  </p>

</div>

