<div class="container py-lg-4 mb-xxl-5" id="contact">
    <h1 class="mb-xxl-4 border-secondary py-lg-4 border-bottom border-5 border-dark work-sans-700">Contact</h1>
    <div class="row g-0">
        <div class="col-md-6">
            <img src="media/images/socroom.jpg" alt="MSOC Room" style="width: 80%; height: 68vh; object-fit: cover;">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
                <div class="container text-center">
                    <p class="h2 work-sans-700">Where are we?</p>
                    <p class="h3 work-sans-200">You can find us located on the second floor at EMAGC Room 2.312</p>
                </div>
                <div class="container text-center">
                    <p class="h2 work-sans-700">How can I Join?</p>
                    <p class="h3 work-sans-200">Fill out the Microsoft Forms to join our Teams Chat and Get Announcements!</p>
                </div>
                <div class="container text-center">
                    <a href="https://forms.office.com/r/EkKq9FS4rH" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Microsoft Forms</a>
                </div>
            </div>
        </div>
    </div>
</div>



