<div class="container-fluid">
    <ul class="nav-item mb-0  ps-1">
        <a class="nav-link work-sans-700" aria-current="page" href="templates/index.html#home">
        <img src="/media/images/logo.png" width="300" height="50">
        </a>
    </ul>
    <ul class="nav nav-underline justify-content-end offcanvas-sm">
        <li class="nav-item">
            <a class="nav-link work-sans-700" aria-current="page" href="../events.html">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link work-sans-700" aria-current="page" href="../index.html#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link work-sans-700" aria-current="page" href="../index.html#contact">Contact</a>
        </li>
    </ul>    
    </div>
</div>
